@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.give-us-a3,
.hyphen3 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.46px;
  font-family: var(--font-poppins);
  color: var(--color-royalblue-100);
  text-align: center;
}
.hyphen3 {
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.missed-call-ic-icon3 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.mob3,
.mobile-number3,
.text-mobile-number3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-number3 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.46px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-royalblue-100);
  text-align: center;
  width: 132px;
  flex-shrink: 0;
}
.mob3,
.text-mobile-number3 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.mob3 {
  flex: 1;
}
.text-mobile-number3 {
  width: 423px;
}
/* .text-mobile-number3:hover {
  animation: 1s ease 0s 2 normal forwards scale-up;
  opacity: 1;
} */
.rectangle-div {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue);
  height: 1px;
}
.text-mobile-number-divder-line3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.header-mobile-number-section3,
.header-mobile-number3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-mobile-number3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  max-width: 1280px;
}
.header-mobile-number-section3 {
  align-self: stretch;
  background-color: var(--primary-contrast);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-61xl) 0;
}
.offerltr-logo-1-icon3 {
  position: relative;
  width: 176px;
  height: 39px;
  object-fit: cover;
  cursor: pointer;
}
.contact-us6,
.faqs4,
.home4 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.home4:hover {
  font-size: var(--font-size-sm);
}
.contact-us6:hover,
.faqs4:hover,
.home4:hover {
  color: var(--color-royalblue-100);
  cursor: pointer;
}
.contact-us6 {
  display: inline-block;
  width: 87px;
  flex-shrink: 0;
}
.nav-bar-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.menu-menu-alt-013 {
  position: absolute;
  height: 41.67%;
  width: 58.33%;
  top: 29.17%;
  right: 20.83%;
  bottom: 29.17%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-alt-01-svgrepo-com-1-13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.nav-bar-links-container3 {
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.header-nav-bar3,
.nav-bar-container3,
.nav-bar-links-container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar-container3 {
  flex: 1;
  justify-content: space-between;
  max-width: 1280px;
}
.header-nav-bar3 {
  align-self: stretch;
  background-color: var(--primary-contrast);
  height: 75.64px;
  padding: var(--padding-xl) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.frequently-asked-questions {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 49px;
}
.frequently-asked-question-head {
  align-self: stretch;
  background-color: var(--color-royalblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl) 0;
  align-items: center;
  justify-content: center;
}
.div4 {
  position: relative;
  display: inline-block;
  width: 18px;
  flex-shrink: 0;
}
.div4,
.what-is {
  font-weight: 500;
}
.offerltrcom-is-a,
.what-is-offerltrcom-container {
  align-self: stretch;
  position: relative;
}
.offerltrcom-is-a {
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.faq-1,
.q-1-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.q-1-c {
  flex: 1;
  gap: var(--gap-3xs);
}
.faq-1 {
  align-self: stretch;
}
.divider-line-1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue-300);
  height: 1px;
}
.faq-2,
.q-3-c {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-2 {
  flex-direction: column;
  color: var(--color-darkslategray);
}
.q-3-c {
  flex-direction: row;
  gap: var(--gap-xs);
}
.how-long-does {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.faq-section1,
.faqs-list1,
.faqs5 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}
.faqs-list1 {
  flex-direction: column;
  padding: 0 260px;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.faq-section1,
.faqs5 {
  flex-direction: row;
}
.faq-section1 {
  padding: var(--padding-41xl) 0;
  box-sizing: border-box;
}
.faqs5 {
  background-color: var(--primary-contrast);
  overflow: hidden;
}
.faq-section,
.faqs-list {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.faqs-list {
  background-color: var(--primary-contrast);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.faq-section {
  flex-direction: column;
  justify-content: flex-start;
}
.offerltr-white-logo-13 {
  position: relative;
  width: 196px;
  height: 44px;
  object-fit: cover;
}
.facebook-ic-icon3,
.insta-ic-icon3 {
  position: relative;
  width: 28.84px;
  height: 28.8px;
}
.facebook-ic-icon3:hover,
.insta-ic-icon3:hover {
  cursor: pointer;
}
.insta-ic-icon3 {
  cursor: default;
}
.logo-social-icons3,
.social-icons3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icons3 {
  width: 228px;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.logo-social-icons3 {
  flex: 1;
  justify-content: space-between;
}
.white-logo-social-icons-div3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divider-line3 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  height: 1px;
}
.divider-line3,
.offerltr-all-rights3 {
  position: relative;
}
.privacy-policy3,
.terms-of-service3 {
  text-decoration: none;
  position: relative;
}
.terms-of-service3 {
  color: inherit;
}
.privacy-policy3:hover,
.terms-of-service3:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.privacy-policy3 {
  color: var(--primary-contrast);
}
.privacy-policy3:hover {
  mix-blend-mode: normal;
  color: var(--primary-contrast);
}
.copywright-terms-privacy3,
.terms-privacy3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.terms-privacy3 {
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.copywright-terms-privacy3 {
  align-self: stretch;
  justify-content: space-between;
}
.container4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 1280px;
}
.faq-page,
.footer3 {
  display: flex;
  align-items: center;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-royalblue-100);
  flex-direction: row;
  padding: var(--padding-11xl) var(--padding-61xl);
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-whitesmoke);
}
.faq-page {
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--primary-contrast);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1280px) {
  .faqs-list1,
  .header-mobile-number-section3,
  .header-nav-bar3 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .faqs-list1 {
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-101xl);
  }
  .footer3 {
    padding: var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .header-mobile-number-section3 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .nav-bar-links3 {
    display: none;
  }
  .menu-alt-01-svgrepo-com-1-13,
  .nav-bar-links-container3 {
    display: flex;
  }
  .faqs-list1,
  .header-nav-bar3 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .faqs-list1 {
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
  }
  .footer3 {
    padding: var(--padding-6xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .hyphen3 {
    display: none;
  }
  .mob3 {
    flex: unset;
    align-self: stretch;
  }
  .text-mobile-number3 {
    flex-direction: column;
  }
  .faqs-list1,
  .header-nav-bar3 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .faqs-list1 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
  }
  .faq-section1 {
    gap: var(--gap-21xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .logo-social-icons3 {
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: flex-start;
    justify-content: center;
  }
  .white-logo-social-icons-div3 {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .copywright-terms-privacy3 {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .container4 {
    gap: var(--gap-3xs);
  }
  .footer3 {
    height: auto;
    padding: var(--padding-6xl) var(--padding-5xl) var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .mob3 {
    flex: unset;
    align-self: stretch;
  }
  .text-mobile-number3 {
    flex-direction: column;
  }
  .header-nav-bar3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
  }
  .frequently-asked-questions {
    font-size: var(--font-size-5xl);
  }
  .frequently-asked-question-head {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .div4,
  .what-is-offerltrcom-container {
    font-size: var(--font-size-base);
  }
  .offerltrcom-is-a {
    font-size: var(--font-size-smi);
  }
  .how-long-does {
    font-size: var(--font-size-base);
  }
  .faqs-list1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .faq-section1 {
    gap: var(--gap-11xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .logo-social-icons3 {
    flex-direction: column;
    gap: var(--gap-lg);
    align-items: flex-start;
    justify-content: flex-start;
    flex: unset;
    align-self: stretch;
  }
  .white-logo-social-icons-div3 {
    flex-direction: column;
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 360px) {
  .give-us-a3 {
    text-align: center;
  }
  .hyphen3 {
    display: none;
  }
  .mob3 {
    flex: unset;
    align-self: stretch;
  }
  .header-mobile-number3,
  .text-mobile-number3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-mobile-number3 {
    flex-direction: row;
  }
  .header-mobile-number-section3 {
    flex-direction: row;
    padding-left: var(--padding-61xl);
    padding-top: var(--padding-5xs);
    box-sizing: border-box;
  }
  .header-nav-bar3 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
  }
  .frequently-asked-questions {
    font-size: var(--font-size-xl);
  }
  .faqs-list1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .faqs-list1,
  .header-mobile-number-section3,
  .header-nav-bar3 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .faqs-list1,
  .header-nav-bar3 {
    padding-right: var(--padding-xl);
  }
  .faqs-list1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
  }
  .faq-section1 {
    gap: var(--gap-21xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
.home1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  z-index: 0;
}
.menu-close-md1 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-md-svgrepo-com-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.mobile-view-menu-pop-up {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  width: 300px;
  height: 417px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-58xl);
  background-position: sticky;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
